In [20]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Load the dataset
data = pd.read_csv('ratings.csv').drop(['Unnamed: 0'], axis=1)
data

# Create the item-user matrix
item_user_matrix = data.pivot_table(columns='Registration number', index='User_id', values='rating', fill_value=0)

# Compute the item-item similarity matrix
item_similarity = cosine_similarity(item_user_matrix.T)

# Function to get similar items for a given item
def get_similar_items(item_id, similarity_matrix, num_items=10):
    item_similarity_scores = similarity_matrix[item_id]
    similar_item_indices = item_similarity_scores.argsort()[::-1][1:num_items+1]
    similar_items = item_user_matrix.columns[similar_item_indices]
    return similar_items

# Test the recommendation system
item_id = 6481
similar_items = get_similar_items(item_id, item_similarity)
print(f"Items similar to item {item_id}:")
print(similar_items)
# выводит список похожих поставщиков на сравниваемого поставщика: т.е. для поставщика 564 алгоритм порекомендует 
# топ 10 поставщиков, на основе среднего рейтинга по убыванию

Items similar to item 6481:
Int64Index([1658, 3192, 5494, 5764, 2100, 3010, 2065, 3053, 5906, 285], dtype='int64', name='Registration number')

In [23]:
data[data['Registration number'] == 1658]

       User_id  Registration number  rating
6654         0                 1658     1.8
27973        4                 1658     3.8
36606        7                 1658     3.7
51253       11                 1658     3.7
58388       12                 1658     4.8
63998       13                 1658     5.0
67321       14                 1658     4.0
71740       15                 1658     3.6
79769       16                 1658     1.2
88378       20                 1658     2.6
99887       22                 1658     0.9

In [25]:
item_user_matrix[1658]

User_id
0     1.8
1     0.0
2     0.0
3     0.0
4     3.8
5     0.0
6     0.0
7     3.7
8     0.0
9     0.0
10    0.0
11    3.7
12    4.8
13    5.0
14    4.0
15    3.6
16    1.2
17    0.0
18    0.0
19    0.0
20    2.6
21    0.0
22    0.9
23    0.0
24    0.0
Name: 1658, dtype: float64

In [32]:
print(len(item_similarity[0]))

9891

In [30]:
item_similarity

array([[1.        , 0.54308863, 0.43774982, ..., 0.60902804, 0.58117934,
        0.47162831],
       [0.54308863, 1.        , 0.33767778, ..., 0.69058496, 0.36260865,
        0.50028408],
       [0.43774982, 0.33767778, 1.        , ..., 0.31110967, 0.52874674,
        0.49899567],
       ...,
       [0.60902804, 0.69058496, 0.31110967, ..., 1.        , 0.32450468,
        0.53429867],
       [0.58117934, 0.36260865, 0.52874674, ..., 0.32450468, 1.        ,
        0.53823368],
       [0.47162831, 0.50028408, 0.49899567, ..., 0.53429867, 0.53823368,
        1.        ]])